<nav class="center-block navbar navbar-default">
    <ul class="nav nav-tabs">
        <li role="presentation" 
            [class.active]="navLocation === '/'"
            (click)="toggleNav()">
            <a routerLink="/">Home</a>
        </li>
        <li role="presentation"
            [class.active]="navLocation === '/monsters-list'"
            (click)="toggleNav()">
            <a routerLink="/monsters-list">Monster List</a>
        </li>
    </ul>
    <!-- <a routerLink="/monsters-list" class="col-md-3 col-lg-offset-1 btn btn-lg btn-default active">Monster Battle</a> -->
</nav>
