.battle-details {
    background-color: #e7e7e7;
    height: 400px;
    overflow-y: auto;
}

.list-group-item * {
    font-size: large;
}

.list-group-item .badge {
    padding: 14px 17px;
    line-height: 0;
}