<section class="container">
    <h1>Battle!</h1>
    <div class="row">
        <div class="col-md-4">
            <h2>{{ selectedMonsters?.first?.name }}</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <span>Size:</span>
                    <span class="badge">{{ selectedMonsters?.first?.size }}</span>
                </li>
                <li class="list-group-item">
                    <span>Type:</span>
                    <span class="badge">{{ selectedMonsters?.first?.type }}</span>
                </li>
                <li class="list-group-item">
                    <span>Alignment:</span>
                    <span class="badge">{{ selectedMonsters?.first?.alignment }}</span>
                </li>
                <li class="list-group-item">
                    <span>Hit Points:</span>
                    <span class="badge">{{ firstHP }}</span>
                </li>
                <li class="list-group-item">
                    <span>Strength:</span>
                    <span class="badge">{{ selectedMonsters?.first?.strength }}</span>
                </li>
                <li class="list-group-item">
                    <span>Dexterity:</span>
                    <span class="badge">{{ selectedMonsters?.first?.dexterity }}</span>
                </li>
                <li class="list-group-item">
                    <span>Armor Class:</span>
                    <span class="badge">{{ selectedMonsters?.first?.armor_class }}</span>
                </li>
                <li class="list-group-item">
                    <span># of Attacks</span>
                    <span class="badge">{{ selectedMonsters?.first?.actions.length }}</span>
                </li>
            </ul>
        </div>
        
        <app-battle-details 
            (changeHP)="changeHP($event)"
            [battleMonsters]="selectedMonsters"
            class="battle-details col-md-4">
        </app-battle-details>

        <div class="col-md-4">
            <h2>{{ selectedMonsters?.second?.name }}</h2>
            <li class="list-group-item">
                <span>Size:</span>
                <span class="badge">{{ selectedMonsters?.second?.size }}</span>
            </li>
            <li class="list-group-item">
                <span>Type:</span>
                <span class="badge">{{ selectedMonsters?.second?.type }}</span>
            </li>
            <li class="list-group-item">
                <span>Alignment:</span>
                <span class="badge">{{ selectedMonsters?.second?.alignment }}</span>
            </li>
            <li class="list-group-item">
                <span>Hit Points:</span>
                <span class="badge">{{ secondHP }}</span>
            </li>
            <li class="list-group-item">
                <span>Strength:</span>
                <span class="badge">{{ selectedMonsters?.second?.strength }}</span>
            </li>
            <li class="list-group-item">
                <span>Dexterity:</span>
                <span class="badge">{{ selectedMonsters?.first?.dexterity }}</span>
            </li>
            <li class="list-group-item">
                <span>Armor Class:</span>
                <span class="badge">{{ selectedMonsters?.second?.armor_class }}</span>
            </li>
            <li class="list-group-item">
                <span># of Attacks</span>
                <span class="badge">{{ selectedMonsters?.second?.actions.length }}</span>
            </li>
        </div>
    </div>
</section>
