<section class="container">
    <h1>Monster List</h1>
    <h4>Double-click monsters to select them for battle!</h4>
    <h5>Monster 1: {{ selectedMonsters[0] }}</h5>
    <h5>Monster 2: {{ selectedMonsters[1] }}</h5>

    <section class="image-popup hidden"></section>

    <app-page-nav></app-page-nav>
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Type</th>
                <th>Alignment</th>
                <th>Strength</th>
                <th>Pic</th>
            </tr>
        </thead>
        <tbody>
            <tr class="monster-row"
                *ngFor="let monster of monsters"
                (dblclick)="selectMonster(monster.name)">
                <td>{{ monster.name }}</td>
                <td>{{ monster.size }}</td>
                <td>{{ monster.type }}</td>
                <td>{{ monster.alignment }}</td>
                <td>{{ monster.strength }}</td>
                <td *ngIf="monster.img_main">
                    <button 
                        class="btn btn-default" 
                        (click)="showImage(monster.img_main)">
                        Monster Image
                    </button>
                </td>
                <td *ngIf="!monster.img_main">
                    N/A
                </td>
            </tr>
        </tbody>
    </table>

    <app-page-nav></app-page-nav>

</section>
