/* You can add global styles to this file, and also import other style files */

/* body{
    background: black;
    color: white;
} */
/* 
nav button{
    margin-right: 20px;
}
nav button:last-of-type{
    margin-right: 0;
} */

.flex {
    display: flex;
}

.outer-edges {
    display: flex;
    justify-content: space-between;
}

/* .flex button:first-of-type {
    justify-self: start;
}

.flex button:last-of-type {
    justify-self: end;
} */

.center-block {
    margin: auto 20rem;
}

.monster-row {
    cursor: pointer;
}